# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.lock

# Android build outputs
android/app/build/
android/.gradle/
android/local.properties
android/key.properties

# iOS build outputs
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# General
.DS_Store
*.iml
*.log
.idea/
.vscode/